---
layout: subs/layout-page.njk
---

<section class="font-body font-light text-lg py-11 bg-cyan-900 text-white">
  <div class="container">
    <h2 class="font-heading font-medium text-2xl mb-5">👋 Hi, i'm Jeremy</h2>

    <p class="mb-5">
      I am a web developer and solutions engineer, currently working at
      <a href="https://algolia.com">Algolia</a>.
    </p>

    <p class="mb-5">
      Here you will find <a href="/posts">blog posts</a> about web development,
      linux and digital autonomy.
    </p>

    <p class="mb-5">
      If you would like help with a project, then contact me
      <a href="mailto:jeremyluscombe@gmail.com">here</a>.
    </p>

    <p class="mb-5">
      This site is built with <a href="https://11ty.com">11ty</a> and
      <a href="https://tailwind.com">tailwind.</a> Posts are written in markdown
      and hosted on a VPS.
    </p>
  </div>
</section>

<section class="py-11">
  <div class="container">
    <h2 class="font-heading font-medium text-2xl mb-5 text-teal-900">
      Latest posts
    </h2>

    {%include 'postslist.njk'%}
  </div>
</section>
