---
layout: subs/layout-page.njk
title: Hey, i'm Jeremy👋
---

<section class="mb-8">
    <p class="mb-2">
        I'm currently working as a Solutions Engineer at <a href="https://algolia.com">Algolia</a>
    </p>
    
    <p class="mb-2">
    Culpa ex non aliqua duis. In <a href="">consequat</a> nostrud eiusmod consequat adipisicing elit in. Proident nisi sint deserunt qui esse ad nulla aliquip. Nisi dolore duis cillum eu veniam laboris.
    </p>
    
    <p class="mb-2">
    Excepteur in dolore consectetur ex consequat sunt fugiat velit esse irure sit qui. Nisi adipisicing esse laboris do velit est ipsum nulla ipsum aliquip irure. Deserunt irure elit <a href="">laborum</a> labore do veniam enim sint Lorem. Elit ipsum incididunt aliquip tempor est aute nulla do aliqua est ut consectetur ea.</p>
</section>

<section class="mb-8">
    <h2 class="font-bold text-3xl italic mb-5"> 
        Latest posts
    </h2>

   {%include 'postslist.njk'%}
</section>