@tailwind base;
@tailwind components;
@tailwind utilities;


main a {
    color: #3761ad;
    border-bottom: 1px solid #3761ad;
    border-style: dashed;
}

.post p {
    margin-bottom: 1rem;
}

.post ul {
    list-style: disc!important;
    padding-left: 15px;
    margin-bottom: 10px;
}

.post > h2,.post > h3,.post >  h4, .post > h5, .post > h6 {
        font-style: italic;
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin-bottom: 1.25rem;
        margin-top: 2rem;
}

.post img {
 margin: 0 auto;
}

code {
    font-size: .875em;
    color: #d63384;
    word-wrap: break-word;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.headshot {
    shape-outside: circle(50%);
    float: left;
}


.curved {
    border-bottom-right-radius: 50% 10%;
}

.curved-top {
    border-top-left-radius: 50% 10%;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    /* display: inline-block; */
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

pre[class*="language-"] {
    margin-bottom: 15px!important;
}
/* .bg-overlay {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);;
} */
