---
layout: /layouts/layout.njk
---

<div class="container">
  <div class="border-b-2 mb-5">
    <h1 class="font-heading text-3xl text-teal-900 mb-2">{{ title }}</h1>
  </div>

  <div class="post font-light">
    <div class="text-right mb-5">
      <a
        href="{{ link }}"
        target="_blank"
        class="text-sm font-heading text-teal-900"
        >Material link</a
      >
    </div>
    {{ content | safe }}
  </div>
</div>
