<footer class="bg-cyan-900 text-white  w-full">
    <div class="max-w-5xl m-auto py-7 px-2 flex justify-between content-center">
        <div>
            <p>&copy; Jeremy James 2024</p>
        </div>
        <div>
            <a href="https://github.com/JeremyJamesL"><img src="/assets/images/github.png" alt="" class="max-w-8"></a>
        </div>
    </div>
</footer>