<footer class="py-8 font-light text-center">
  <div class="container">
    <p class="mb-2">&copy; Jeremy James 2024. All rights reserved</p>

    <ul class="flex justify-center gap-2">
      <li class="underline"><a href="https://x.com/JJDEV6">Twitter</a></li>
      <li class="underline">
        <a href="https://github.com/JeremyJamesL/">Github</a>
      </li>
      <li class="underline">
        <a href="mailto:jeremyluscombe@gmail.com">Email</a>
      </li>
      <li class="underline">
        <a href="https://www.linkedin.com/in/jeremyluscombe/">Linkedin</a>
      </li>
    </ul>
  </div>
</footer>
