<header class="bg-cyan-900 text-white">
    <div class="max-w-5xl m-auto py-7 px-2 flex justify-between content-center font-sans">    
        <a href="/" class="font-bold text-3xl">Jezl.xyz</a>
        <nav>
            <ul class="flex gap-5 text-lg">
                <li class="hover:underline"> 
                    <a href="/posts">Posts</a>
                </li>
                <li class="hover:underline"> 
                    <a href="/project">Projects</a>
                </li>
            </ul>
        </div>
</header>