<ul class="list-disc pl-8 font-body font-light">
  {%- for post in collections.post | reverse%}
  <li class="mb-3">
    <h3>
      <a href="{{ post.url }}" class="mr-2 visited:text-red-600">
        {{ post.data.title }}
      </a>
      <time class="">{{ post.date | postDate }}</time>
    </h3>
  </li>
  {%- endfor -%}
</ul>
