<ul class="">
  {%- for post in collections.project -%}
  <li class="">
    <div
      style="background-image: url('/assets/images/{{ post.data.thumb }}')"
      class=""
    ></div>
    <h3>
      <a href="{{ post.data.link }}" class="">
        {{ post.data.title }}
      </a>
    </h3>
  </li>
  {%- endfor -%}
</ul>
