---
layout: /layouts/base.njk
---
{% include "../components/landing-page/header.njk" %}
<main class="max-w-4xl m-auto py-12 px-2 pb-24">
    {{content | safe}}
</main>
{% include "../components/landing-page/footer.njk" %}