<footer class=" ">
  <div class="">
    <h2 class="">Contact me</h2>
    <form action="" class="" id="contact-form">
      <input type="text" class="" placeholder="Name" />
      <input type="text" class="" placeholder="Email" />
      <textarea class="" placeholder="Message"></textarea>
      <button id="submit-email" class="">Submit</button>
    </form>
    <div class="">
      <div class="loader" id="form-loader"></div>
    </div>
    <div class="" id="form-message"></div>
  </div>
</footer>
