<ul class="">
  {%- for post in collections.freelance -%}
  <div class=" ">
    <div
      class=""
      style="background-image: url('/assets/images/{{ post.data.thumb }}')"
    ></div>
    <div class="">
      <a class="" href="{{ post.data.link }}">{{ post.data.title }}</a>
      <div class="flex mb-5 flex-wrap">
        {% for item in post.data.pills%}
        <li
          class="rounded-full text-xs py-1 px-3 shadow-sm font-semibold border-2 border-gray-100 flex items-center mr-2 mb-2"
        >
          <span class="text-[#166351] text-xl leading-none mr-2">⦿</span>
          <span>{{ item }}</span>
        </li>
        {% endfor %}
      </div>
      <div class="text-right">
        <a
          href="{{ post.data.link }}"
          class="no-underline text-white border-none bg-[#166351] font-semibold text-xs p-2 px-4 rounded-full"
          >Visit site <span class="ml-1 font-normal">➜</span></a
        >
      </div>
    </div>
  </div>
  {%- endfor -%}
</ul>
